.card {
  img {
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__text {
    height: 50px;
    width: 200px;
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    color: white;
    font-weight: 600;
  }
}
