.card {
  img {
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    height: 50px;
    width: 200px;
    margin-top: -60px;
    margin-left: 10px;
    color: white;
    font-weight: 600;
  }
}
