.collapse {
  display: flex;
  flex-direction: column;
  max-width: 1023px;
  margin: 0 auto;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #ff6060;
    padding: 10px;
    border-radius: 5px;
  }
  &__content {
    background-color: #f6f6f6;
    padding: 15px;
  }
  img {
    cursor: pointer;
  }
}

.collapseHidden {
  overflow: hidden;
  transition: clip-path 0.3s ease-out, transform 0.3s ease-out,
    max-height 0.3s ease-out, margin-bottom 0.3s ease-out;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translateY(-40px);
  max-height: 0;
  z-index: -10;
  margin-bottom: 10px;
}

.collapseExpend {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.3s ease-in, transform 0.3s ease-in,
    max-height 0.3s ease-in, margin-bottom 0.3s ease-in;
  transform: translateY(0);
  max-height: 1000px;
  z-index: -10;
  margin-bottom: 40px;
}
