.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  &__band-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &__txt {
      position: absolute;
      z-index: 1;
      color: white;
      font-size: 3rem;
    }
    img {
      display: flex;
      margin: 0 auto;
      width: 1240px;
      height: 223px;
      object-fit: cover;
      border-radius: 25px;
      filter: brightness(40%);
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    }
  }
  &__appartments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1240px;
    padding: 50px;
    gap: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 30px 0;
  }
}
